@charset "UTF-8";

html {
	background-color: #000
}
.MSR-main {
	transition: background-color 1.5s ease-in-out;
}

.live:not(.initd) {
	cursor: pointer
}

.tracking-in-expand{
	animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both
}
.hero-body::after {
	content: 'v.0.1.2';
	position: fixed;
	bottom: 0;
	right: 5px;
	font-weight: lighter
}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
